.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    .tasksContainer {
        flex: 1;
        background-color: var(--light-blue);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        margin-top: -20px;
        padding: 40px 0;
        > div {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            height: 100%;
        }
    }
}