form {
    padding: 40px 0;
    label {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        textarea {
            height: 100px; 
        }
    }
    .buttons {
        display: flex;
        button {
            @media only screen and (max-width: 400px) {
                flex: 1;
            }
            &:only-child {
                margin: 0!important;
            }
            &:nth-child(1) {
                margin-right: 1%;
            }
            &:nth-child(2) {
                margin-left: 1%;
            }
        }
    }
}