.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 250px;
    height: 250px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 5px 0px rgba(135,135,135,0.69);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(135,135,135,0.69);
    -moz-box-shadow: 4px 4px 5px 0px rgba(135,135,135,0.69);
    margin: 0 0 20px 0;
    @media only screen and (max-width: 640px) {
        width: 40%;
        height: 220px;
    }
    @media only screen and (max-width: 500px) {
        width: 43%;
        height: 180px;
        padding: 10px;
    }
    @media only screen and (max-width: 420px) {
        width: 42%;
        height: 180px;
    }
    .title,
    .description {
        color: var(--black);
        word-wrap: break-word;
    }
    .title {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        button {
            max-width: 100px;
        }
        svg {
            font-size: 32px;
            @media only screen and (max-width: 640px){
                font-size: 26px;
            }
        }
    }
    &:nth-child(odd) {
        margin-right: 10px;
        @media only screen and (max-width: 640px) {
            margin-right: 5px;
        }
    }
    &:nth-child(even) {
        margin-left: 10px;
        @media only screen and (max-width: 640px) {
            margin-left: 5px;
        }
    }
}