.banner {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: var(--blue);
    .title {
        font-size: 22px;
        color: var(--white);
        text-align: center;
        @media only screen and (max-width: 575px) {
            text-align: left;
        }
    }
    &__curved {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        height: 90px;
        align-items: normal;
        .title {
            padding-bottom: 20px;
        }
    }
}